table {
    border-collapse: collapse;
    width: 80%;
}



th,
td {
    border: 1px solid #c4b3d5;
    text-align: left;
    padding: 8px;
    text-align: center;

}

tr:nth-child(even) {
    background-color: #c4b3d5;
}