@import "variables";

.nav {
    height: 200px;
    background-color: $primary-color;

    .nav-sesion-iniciada {
        height: 200px;
        background-color: blue;
    }

    .modo-oscuro {
        background-color: #2C3E50;
        color: antiquewhite;
    }
}